## Conventional Import

In [63]:
import pandas as pd
import os
print pd.__version__

0.20.3

# Reading Tabular Data (Vid-2)

* csv
* excel
* etc

### Experiment 1

In [66]:
DATA_DIR = '../data'

# reading table
# making seperator as comma
# renaming column names
df = pd.read_table(
                   os.path.abspath(os.path.join(DATA_DIR,'day1/iris.csv')), 
                   sep=',',
                   header=0,
                   names=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
                  )

In [67]:
# print top 5 records only
df.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

### Experiment 2

In [68]:
# data is seperated by '|' so our sep paramater is also '|'
# header=None avoids data first row to be header incase of header not present in the data
# create column names
df = pd.read_table(
                    'http://bit.ly./movieusers', 
                    sep='|', 
                    header=None, 
                    names=['user_id', 'age', 'gender','occupation','zip']
                    )
df.head(5)

   user_id  age gender  occupation    zip
0        1   24      M  technician  85711
1        2   53      F       other  94043
2        3   23      M      writer  32067
3        4   24      M  technician  43537
4        5   33      F       other  15213

# Takeaways

### By default:
1. __read_table__ - takes sep='\t'
2. __read_table__ - assumes 1st row is header row

### Useful
1. __skiprows__ - skip 'x' rows from the top
2. __skipfooter__ - skip 'x' rows from the bottom

# --------------------------------

# Selecting Pandas Series from DataFrame (Vid-3)