## Imports

In [14]:
import pandas as pd
import os

print pd.__version__

0.20.3

# Removing Columns/Rows (Vid-6)

In [15]:
DATA_DIR = '../data'
# reading table
# making seperator as comma
# renaming column names for 0th row of the file
df = pd.read_table(
                   os.path.abspath(os.path.join(DATA_DIR,'day1/iris.csv')), 
                   sep=',',
                   header=0,
                   names=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
                  )
df.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [16]:
# see dimension of the dataset
# 150 rows, 5 columns
df.shape

(150, 5)

## Column Drop

In [17]:
# drop method takes the column names in array
# axis=1 corresponds to columns
# inplace=True does not require you to hold it in other variable, memory efficient
df.drop(['class'], axis=1, inplace=True)
df.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

## Row Drop

In [19]:
# drop method takes the row names in array
# axis=0 corresponds to rows, bydefault axis=0 in drop method
# inplace=True does not require you to hold it in other variable, memory efficient
df.drop([0, 1], axis=0, inplace=True)
df.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2
5        5.4        3.9        1.7        0.4
6        4.6        3.4        1.4        0.3

## Takeaways

1. Keep in practice to always specify 'axis' parameter in drop method or other necessary methods for better understanding.

# -----------------------

# Sorting (Vid-7)

In [21]:
df = pd.read_table(
                   'http://bit.ly/imdbratings', 
                   sep=','
                  )
df.head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [27]:
# sort_values() method returns bydefault by ascending order
# sort_values() can take 'inplace=True/False' for changing the values inplace
print df['star_rating'].sort_values().head(5)
print df['star_rating'].sort_values().tail(5)

978    7.4
950    7.4
949    7.4
948    7.4
947    7.4
Name: star_rating, dtype: float64
6    8.9
3    9.0
2    9.1
1    9.2
0    9.3
Name: star_rating, dtype: float64

In [31]:
# ascending=True/False parameter in sort_values() can decide the sorting order
print df['star_rating'].sort_values(ascending=False).head(5)
print df['star_rating'].sort_values(ascending=False).tail(5)

0    9.3
1    9.2
2    9.1
3    9.0
6    8.9
Name: star_rating, dtype: float64
947    7.4
948    7.4
949    7.4
950    7.4
978    7.4
Name: star_rating, dtype: float64

In [39]:
# relatively better way to do is to use the below mentioned technique
# to sort by multiple fields, just populate the array inside sort_values()
df.sort_values(['duration'], ascending=True).head(5)

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."

# Takeaways

1. Pandas dataframe is table having rows and columns.
2. Pandas Series is just one column in the dataframe.
3. sort_values() method returns bydefault by ascending order.

# -----------------------

# Filter (Vid-8)